<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create a Puppy Listing</title>
  </head>
  <body>

      Name: <%= @puppy.name %><br>
      Breed:  <%= @puppy.name %><br>
      Age:  <%= @puppy.name %><br>



  </body>
</html>
